.dark-theme {
  background: #18191d;
  color: #f2f5f7;

  ::-webkit-scrollbar {
    background: #33393f;
    border: none;
  }

  .ukraine-support {
    background: #33393f;
    color: #fff;
  }

  header {
    background: #18191d;
  }

  .main-logo .dark {
    display: block;
  }

  .main-logo .light {
    display: none;
  }

  .header-menu a {
    color: #fff;
  }

  .header-menu a:hover {
    color: #fe6c0a;
  }

  .header-socials .git {
    filter: brightness(0) invert(1);
  }

  .header-search-desktop img {
    filter: brightness(0) invert(1);
  }

  .intro-section {
    background: #070809;
    color: #f2f5f7;
  }

  .intro-text h1 {
    color: #fff;
  }

  .intro-avatar .name {
    color: #fff;
  }

  .filter-tags-list a {
    background: #33393f;
    color: #f2f5f7;
  }

  .filter-tags-list a:hover {
    border-color: #f2f5f7;
  }

  .posts-list-block .link {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .theme-switcher {
    background: #33393f;
  }

  .theme-switcher .light {
    background: transparent;
  }

  .theme-switcher .light img {
    filter: brightness(0) invert(1);
  }

  .theme-switcher .dark {
    background: #fff;
  }

  .theme-switcher .dark img {
    filter: none;
  }

  .pagination a {
    background: #33393f;
    color: #f2f5f7;
  }

  .pagination a:hover {
    border-color: #f2f5f7;
  }

  .desktop-search-results {
    background: #18191d;
  }

  .desktop-search-results::-webkit-scrollbar {
    background: #33393f;
    border: none;
  }

  .related-posts-block .name {
    color: #fff;
  }

  .header-hamburger img {
    filter: brightness(0) invert(1);
  }

  .header-content {
    background: #18191d;
  }

  .header-content .top-block {
    border-color: #33393f;
  }

  .mobile-search-results {
    background: #18191d;
  }

  .mobile-search-results::-webkit-scrollbar {
    background: #33393f;
    border: none;
  }

  .mobile-posts-block {
    border-color: #33393f;
  }

  .mobile-posts-block .name {
    color: #fff;
  }

  .page-progress {
    background: #33393f;
  }

  .page-progress .progress-bar {
    background: #fe6c0a;
  }

  h1,
  h2,
  h3 {
    color: #fff;
  }

  .breadcrumbs-outer {
    background: #070808;
  }

  .breadcrumbs {
    color: #aeaeae;
  }

  .breadcrumbs li:after {
    color: #aeaeae;
  }

  .breadcrumbs span {
    color: #f2f5f7;
  }

  .blogpost-content {
    border-right-color: #33393f;
  }

  .blogpost-options .share {
    background: #33393f;
    color: #f2f5f7;
  }

  .blogpost-options .share:hover {
    border-color: #d8d8d8;
  }

  .blogpost-options .viewed {
    color: #f2f5f7;
  }

  .blogpost-content strong {
    color: #f2f5f7;
  }

  .simple-list li::before {
    background: #f2f5f7;
  }

  .blogpost-liked a {
    background: #33393f;
    color: #f2f5f7;
  }

  .blogpost-liked a:hover {
    border-color: #d8d8d8;
  }

  .blogpost-date span {
    background: #33393f;
    color: #f2f5f7;
  }

  .simple-section.gray-bg {
    background: #070808;
  }

  .comments-block {
    background: #18191d;
  }

  .comments-block.replied {
    border-color: #595959;
  }

  .comments-block .name {
    color: #fff;
  }

  .comments-block .reply {
    color: #f2f5f7;
    background: #33393f;
    border-color: transparent;
  }

  .comments-block .reply:hover {
    border-color: #fe6c0a;
  }

  .comments-block .reply img {
    filter: brightness(0) invert(1);
  }

  .comments-form {
    background: #33393f;
  }

  .simple-form input,
  .simple-form textarea,
  .simple-form select {
    color: #33393f;
    background: #fff;
  }

  .simple-form input:focus,
  .simple-form textarea:focus,
  .simple-form select:focus {
    border-color: #fe6c0a;
  }

  .simple-form input::-webkit-input-placeholder,
  .simple-form textarea::-webkit-input-placeholder,
  .simple-form select::-webkit-input-placeholder {
    color: #33393f;
    opacity: 1;
  }

  .simple-form input:-moz-placeholder,
  .simple-form textarea:-moz-placeholder,
  .simple-form select:-moz-placeholder {
    color: #33393f;
    opacity: 1;
  }

  .simple-form input::-moz-placeholder,
  .simple-form textarea::-moz-placeholder,
  .simple-form select::-moz-placeholder {
    color: #33393f;
    opacity: 1;
  }

  .simple-form input:-ms-input-placeholder,
  .simple-form textarea:-ms-input-placeholder,
  .simple-form select:-ms-input-placeholder {
    color: #33393f;
    opacity: 1;
  }

  blockquote {
    background: rgba(254, 108, 10, 0.22);
  }

  .content-404 .title {
    color: #fff;
  }
  hr {
    background: #3b4248;
  }
}
