.dark-theme {
  background: #18191d;
  color: #f2f5f7;
}

.dark-theme::-webkit-scrollbar {
  background: #33393f;
  border: none;
}

.dark-theme .ukraine-support {
  background: #33393f;
  color: #fff;
}

.dark-theme header {
  background: #18191d;
}

.dark-theme .main-logo .dark {
  display: block;
}

.dark-theme .main-logo .light {
  display: none;
}

.dark-theme .header-menu a {
  color: #fff;
}

.dark-theme .header-menu a:hover {
  color: #fe6c0a;
}

.dark-theme .header-socials .git {
  filter: brightness(0) invert(1);
}

.dark-theme .header-search-desktop img {
  filter: brightness(0) invert(1);
}

.dark-theme .intro-section {
  background: #070809;
  color: #f2f5f7;
}

.dark-theme .intro-text h1 {
  color: #fff;
}

.dark-theme .intro-avatar .name {
  color: #fff;
}

.dark-theme .filter-tags-list a {
  background: #33393f;
  color: #f2f5f7;
}

.dark-theme .filter-tags-list a:hover {
  border-color: #f2f5f7;
}

.dark-theme .posts-list-block .link {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dark-theme .theme-switcher {
  background: #33393f;
}

.dark-theme .theme-switcher .light {
  background: transparent;
}

.dark-theme .theme-switcher .light img {
  filter: brightness(0) invert(1);
}

.dark-theme .theme-switcher .dark {
  background: #fff;
}

.dark-theme .theme-switcher .dark img {
  filter: none;
}

.dark-theme .pagination a {
  background: #33393f;
  color: #f2f5f7;
}

.dark-theme .pagination a:hover {
  border-color: #f2f5f7;
}

.dark-theme .desktop-search-results {
  background: #18191d;
}

.dark-theme .desktop-search-results::-webkit-scrollbar {
  background: #33393f;
  border: none;
}

.dark-theme .related-posts-block .name {
  color: #fff;
}

.dark-theme .header-hamburger img {
  filter: brightness(0) invert(1);
}

.dark-theme .header-content {
  background: #18191d;
}

.dark-theme .header-content .top-block {
  border-color: #33393f;
}

.dark-theme .mobile-search-results {
  background: #18191d;
}

.dark-theme .mobile-search-results::-webkit-scrollbar {
  background: #33393f;
  border: none;
}

.dark-theme .mobile-posts-block {
  border-color: #33393f;
}

.dark-theme .mobile-posts-block .name {
  color: #fff;
}

.dark-theme .page-progress {
  background: #33393f;
}

.dark-theme .page-progress .progress-bar {
  background: #fe6c0a;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
  color: #fff;
}

.dark-theme .breadcrumbs-outer {
  background: #070808;
}

.dark-theme .breadcrumbs {
  color: #aeaeae;
}

.dark-theme .breadcrumbs li:after {
  color: #aeaeae;
}

.dark-theme .breadcrumbs span {
  color: #f2f5f7;
}

.dark-theme .blogpost-content {
  border-right-color: #33393f;
}

.dark-theme .blogpost-options .share {
  background: #33393f;
  color: #f2f5f7;
}

.dark-theme .blogpost-options .share:hover {
  border-color: #d8d8d8;
}

.dark-theme .blogpost-options .viewed {
  color: #f2f5f7;
}

.dark-theme .blogpost-content strong {
  color: #f2f5f7;
}

.dark-theme .simple-list li::before {
  background: #f2f5f7;
}

.dark-theme .blogpost-liked a {
  background: #33393f;
  color: #f2f5f7;
}

.dark-theme .blogpost-liked a:hover {
  border-color: #d8d8d8;
}

.dark-theme .blogpost-date span {
  background: #33393f;
  color: #f2f5f7;
}

.dark-theme .simple-section.gray-bg {
  background: #070808;
}

.dark-theme .comments-block {
  background: #18191d;
}

.dark-theme .comments-block.replied {
  border-color: #595959;
}

.dark-theme .comments-block .name {
  color: #fff;
}

.dark-theme .comments-block .reply {
  color: #f2f5f7;
  background: #33393f;
  border-color: transparent;
}

.dark-theme .comments-block .reply:hover {
  border-color: #fe6c0a;
}

.dark-theme .comments-block .reply img {
  filter: brightness(0) invert(1);
}

.dark-theme .comments-form {
  background: #33393f;
}

.dark-theme .simple-form input,
.dark-theme .simple-form textarea,
.dark-theme .simple-form select {
  color: #33393f;
  background: #fff;
}

.dark-theme .simple-form input:focus,
.dark-theme .simple-form textarea:focus,
.dark-theme .simple-form select:focus {
  border-color: #fe6c0a;
}

.dark-theme .simple-form input::-webkit-input-placeholder,
.dark-theme .simple-form textarea::-webkit-input-placeholder,
.dark-theme .simple-form select::-webkit-input-placeholder {
  color: #33393f;
  opacity: 1;
}

.dark-theme .simple-form input:-moz-placeholder,
.dark-theme .simple-form textarea:-moz-placeholder,
.dark-theme .simple-form select:-moz-placeholder {
  color: #33393f;
  opacity: 1;
}

.dark-theme .simple-form input::-moz-placeholder,
.dark-theme .simple-form textarea::-moz-placeholder,
.dark-theme .simple-form select::-moz-placeholder {
  color: #33393f;
  opacity: 1;
}

.dark-theme .simple-form input:-ms-input-placeholder,
.dark-theme .simple-form textarea:-ms-input-placeholder,
.dark-theme .simple-form select:-ms-input-placeholder {
  color: #33393f;
  opacity: 1;
}

.dark-theme blockquote {
  background: rgba(254, 108, 10, 0.22);
}

.dark-theme .content-404 .title {
  color: #fff;
}
