*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

html {
  font-size: 16px;
  font-weight: 400;
}

body {
  font-family: Arial, Tahoma, sans-serif;
  color: #616161;
  background: #fff;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #fff;
  border-left: 1px solid #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 0px;
  background: #fe6c0a;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

*,
*:active,
*:focus {
  outline: none !important;
}

hr {
  height: 1px;
  border: none;
  background: #e8e8e8;
}

.page {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

strong {
  font-weight: 700;
}

.btn {
  display: inline-block;
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
  line-height: 1.2;
  padding: 13px 30px;
  background: #fe6c0a;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
  font-size: 16px;
}

.btn:hover {
  color: #fe6c0a;
  border-color: #fe6c0a;
  background: transparent;
}

button.btn {
  cursor: pointer;
  line-height: 1.2;
  font-family: Arial, Tahoma, sans-serif;
}

.breadcrumbs-outer {
  background: #f8fafc;
  padding: 20px 0;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 1.4;
  color: #707070;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li:after {
  content: "/";
  margin: 0 17px;
  color: #cbcbcb;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs span {
  color: #3a3a3a;
}

/*header =======================================================*/

header {
  position: relative;
  z-index: 30;
  background: #ffffff;
  box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.06);
}

.header-content-mobile {
  display: none;
}

.header-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 25px 0 5px;
}

.main-logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
}

.main-logo .light {
  display: block;
}

.main-logo .dark {
  display: none;
}

.header-menu-outer {
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.header-menu {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #3a3a3a;
  text-transform: uppercase;
}

.header-menu li {
  margin: 0 15px;
}

.header-menu a {
  display: block;
  padding: 33px 10px;
  transition: all 0.3s ease-out;
}

.header-menu a:hover {
  color: #fe6c0a;
}

.header-menu .active {
  position: relative;
  color: #fe6c0a !important;
}

.header-menu .active:after {
  content: "";
  position: absolute;
  background: #fe6c0a;
  height: 2px;
  border-radius: 1px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header-search-desktop {
  cursor: pointer;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 24px;
}

.header-search-desktop:hover img {
  filter: none !important;
}

.header-search-desktop img {
  display: block;
  filter: brightness(0);
  transition: all 0.3s ease-out;
}

.header-socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -18px;
}

.header-socials li {
  margin: 0 18px;
}

.header-socials a {
  transition: all 0.3s ease-out;
  filter: grayscale(1);
}

.header-socials a:hover {
  filter: grayscale(0);
  opacity: 1 !important;
}

.header-socials .git {
  opacity: 0.5;
}

.header-close {
  display: none;
}

.ukraine-support {
  background: #f2f5f7;
  font-size: 15px;
  line-height: 1.3;
  padding: 10px 0;
  color: #3a3a3a;
}

.ukraine-support strong {
  text-transform: uppercase;
}

.ukraine-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.ukraine-flex img {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
}

.ukraine-flex a:hover {
  text-decoration: underline;
}

.theme-switcher {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #f2f5f7;
  border-radius: 45px;
  padding: 4px;
  margin-left: 20px;
}

.theme-switcher li {
  cursor: pointer;
  width: 42px;
  height: 42px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.theme-switcher li:hover img {
  filter: none !important;
}

.theme-switcher img {
  display: block;
  transition: all 0.3s ease-out;
}

.theme-switcher .light {
  background: #fff;
}

.theme-switcher .dark img {
  filter: brightness(0);
}

.search-overlay-desktop {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.74);
  top: 0;
  left: 0;
}

.close-search {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.close-search:hover img {
  filter: none;
}

.close-search img {
  display: block;
  filter: grayscale(1);
  transition: all 0.3s ease-out;
}

.desktop-search {
  position: relative;
  z-index: 2;
  top: 110px;
  left: 0;
  width: 100%;
}

.desktop-search .no-results {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.desktop-search input:focus {
  border-color: #fe6c0a !important;
}

.desktop-search input::-webkit-input-placeholder {
  color: #777777 !important;
  opacity: 1;
}

.desktop-search input:-moz-placeholder {
  color: #777777 !important;
  opacity: 1;
}

.desktop-search input::-moz-placeholder {
  color: #777777 !important;
  opacity: 1;
}

.desktop-search input:-ms-input-placeholder {
  color: #777777 !important;
  opacity: 1;
}

.desktop-search input {
  margin-bottom: 20px;
  color: #3a3a3a !important;
  background: #fff !important;
}

.desktop-search-results {
  max-height: 530px;
  overflow: auto;
  background: #fff;
  padding: 30px 30px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.desktop-search-results::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  background: #fff;
  border-left: 1px solid #f0f5f5;
}

.desktop-search-results::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 5px;
  background: #fe6c0a;
}

/*intro-section =================================================*/

.intro-section {
  background: #f8fafc;
  padding: 35px 0;
  color: #707070;
}

.intro-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.intro-avatar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: auto;
  text-align: center;
  max-width: 136px;
  -ms-flex-order: 2;
  order: 2;
}

.intro-avatar .image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 16px;
}

.intro-avatar .image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro-avatar .name {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.intro-avatar .job {
  line-height: 1.5;
  font-size: 14px;
}

.intro-text {
  padding-right: 70px;
}

.intro-text h1 {
  color: #3a3a3a;
  line-height: 1.28;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 17px;
}

.intro-text p {
  line-height: 1.69;
}

/*simple-section =================================================*/

.simple-section {
  padding: 36px 0;
}

.simple-section.gray-bg {
  background: #f8fafc;
}

.filter-tags-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px 16px;
  font-size: 14px;
}

.filter-tags-list li {
  cursor: pointer;
  margin: 0 10px 20px;
  display: block;
  padding: 12px 19px;
  text-align: center;
  line-height: 1.14;
  background: #f2f5f7;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #3a3a3a;
  transition: all 0.3s ease-out;
}

.filter-tags-list li:hover {
  border-color: #3a3a3a;
}

.filter-tags-list li.active {
  color: #fff !important;
  background: #fe6c0a !important;
  border-color: #fe6c0a !important;
}

.posts-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px 10px;
}

.posts-list li {
  margin: 0 15px 30px;
  width: calc(33.333% - 30px);
  position: relative;
}

.posts-list li:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.posts-list-block {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  border-radius: 3px;
  overflow: hidden;
}

.posts-list-block .content {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 30px;
  text-align: center;
  border: 1px solid transparent;
}

.posts-list-block .content:after {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  border: 1px solid transparent;
  border-radius: 3px;
  position: absolute;
  display: block;
  transition: all 0.3s ease-out;
  pointer-events: none;
}

.posts-list-block:hover .content:after {
  border-color: #fe6c0a;
}

.posts-list-block .post-img {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.posts-list-block .post-img:after {
  content: "";
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 66%;
  transition: all 0.3s ease-out;
  border-radius: 3px;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.posts-list-block .post-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.posts-list-block .link {
  font-weight: 500;
  line-height: 1.4;
  color: #fff;
  width: 100%;
}

.posts-list-block .link:hover {
  text-decoration: underline;
}

.posts-list-block .tags {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.14;
  color: #fe6c0a;
  width: 100%;
}

.posts-list-block .tags a {
  margin: 0 10px 10px;
  display: inline-block;
}

.posts-list-block .tags a:hover {
  text-decoration: underline;
}

.pagination {
  margin: 0 -5px 7px;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: 500;
}

.pagination li {
  cursor: pointer;
  margin: 0 5px;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  background: #f2f5f7;
  border-radius: 4px;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  border: 1px solid transparent;
}

.pagination li:hover {
  border-color: #3a3a3a;
}

.pagination li.active {
  color: #fff !important;
  background: #fe6c0a !important;
  border-color: #fe6c0a !important;
}

/*footer =======================================================*/

footer {
  background: #3a3a3a;
  padding: 15px 0;
}

.footer-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.footer-logo img {
  display: block;
}

.copyright {
  color: #dadada;
}

.copyright .divider {
  margin: 0 5px;
}

.footer-socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -18px;
}

.footer-socials li {
  margin: 0 18px;
}

.footer-socials a {
  filter: brightness(0) invert(1);
  transition: all 0.3s ease-out;
}

.footer-socials a:hover {
  filter: none;
}

/*blogpost-section ==============================================*/

.blogpost-outer {
  display: -ms-flexbox;
  display: flex;
}

.related-posts {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: auto;
  width: 379px;
  padding: 30px;
  padding-right: 0;
}

.related-posts .btn {
  margin-top: 10px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.19;
  margin-bottom: 27px;
  color: #3a3a3a;
}

.related-posts-block {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.related-posts-block .image {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
  width: 102px;
  height: 102px;
  transition: all 0.3s ease-out;
  position: relative;
}

.related-posts-block .image:hover {
  opacity: 0.8;
}

.related-posts-block .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.related-posts-block .inner {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.related-posts-block .name {
  font-weight: 500;
  line-height: 139.9%;
  color: #3a3a3a;
  display: inline-block;
}

.related-posts-block .name:hover {
  text-decoration: underline;
}

.related-posts-block .tags {
  margin: 10px -9px -5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.14;
  color: #fe6c0a;
}

.related-posts-block .tags a {
  margin: 0 9px 5px;
  display: inline-block;
}

.related-posts-block .tags a:hover {
  text-decoration: underline;
}

.blogpost-content {
  min-width: 1px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-right: 1px solid #e7e7e7;
  padding: 36px 30px;
  padding-left: 0;
}

.blogpost-content .tags {
  margin: 0 -10px 21px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.14;
  color: #fe6c0a;
}

.blogpost-content .tags a {
  margin: 0 10px 5px;
  display: inline-block;
  text-decoration: none;
}

.blogpost-content .tags a:hover {
  text-decoration: underline;
}

.blogpost-content p {
  line-height: 169%;
  margin-bottom: 27px;
}

.blogpost-content a {
  text-decoration: underline;
  color: #fe6c0a;
}

.blogpost-content a:hover {
  text-decoration: none;
}

.blogpost-content strong {
  color: #3a3a3a;
}

.blogpost-content ul,
.blogpost-content ol {
  line-height: 169%;
  margin-bottom: 20px;
}

.blogpost-content ul li {
  padding-left: 24px;
  position: relative;
}

.blogpost-content ul li:before {
  content: "";
  left: 10px;
  top: 12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: #616161;
}

.blogpost-content ol {
  counter-reset: numbersCounter;
}

.blogpost-content ol li {
  padding-left: 0px;
  counter-increment: numbersCounter;
}

.blogpost-content ol li:before {
  content: counter(numbersCounter) ") ";
}

.blogpost-image {
  margin-bottom: 26px;
  position: relative;
}

.blogpost-image img {
  display: block;
  width: 100%;
  height: auto;
}

.blogpost-content img {
  max-width: 100%;
}

.blogpost-content em {
  font-style: italic;
}

h1 {
  font-weight: bold;
  font-size: 43px;
  line-height: 1.31;
  color: #3a3a3a;
  margin-bottom: 26px;
}

.blogpost-date {
  font-size: 15px;
  color: #707070;
  margin-bottom: 7px;
  font-weight: 300;
}

.blogpost-date span {
  display: inline-block;
  background: #f2f5f7;
  border-radius: 4px;
  padding: 8px 13px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
  margin-bottom: 27px;
  color: #3a3a3a;
}

.blogpost-options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.blogpost-options .share {
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid transparent;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.3s ease-out;
  background: #f2f5f7;
  border-radius: 4px;
  padding: 11px 20px;
  color: #3a3a3a;
  font-size: 14px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 29px;
  text-decoration: none;
  font-weight: 700;
}

.blogpost-options .share:hover {
  border-color: #3a3a3a;
}

.blogpost-options .share img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 8px;
}

.blogpost-options .viewed {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #707070;
  font-size: 14px;
}

.blogpost-options .viewed img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 13px;
}

/*.blogpost-liked{
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: -14px;
	a{
		display: inline-flex;
		align-items: center;
		margin: 0 14px;
		text-decoration: none;
		&:hover{
			img{
				filter: brightness(1);
			}
		}
	}
	img{
		flex-shrink: 0;
		margin-right: 13px;
		transition: @transition;
		filter: brightness(0);
	}
	.like{
		color: #4AC002;
	}
	.dislike{
		color: #CC2D0A;
	}
	.active{
		img{
			filter: brightness(1);
		}
	}
}*/

.blogpost-liked {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: -5px;
  font-size: 14px;
  font-weight: 700;
}

.blogpost-liked a {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 5px;
  text-decoration: none;
  height: 31px;
  background: #f2f5f7;
  border: 1px solid transparent;
  border-radius: 29px;
  transition: all 0.3s ease-out;
  color: #3a3a3a;
  padding: 0 9px;
}

.blogpost-liked a:hover {
  border-color: #3a3a3a;
}

.blogpost-liked img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 5px;
}

blockquote {
  background: rgba(254, 108, 10, 0.05);
  border-radius: 0px 4px 4px 0px;
  margin-bottom: 27px;
  border-left: 4px solid #fe6c0a;
  padding: 30px 26px;
}

blockquote p:last-child {
  margin-bottom: 0;
}

/*comments-section ==============================================*/

.comments-outer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.comments-content {
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 30px;
}

.search-block {
  text-align: left;
}

.search-block input {
  display: block;
  width: 100%;
  transition: border-color 0.3s ease-out;
  height: 48px;
  padding: 0 19px;
  color: #fff;
  font-size: 16px;
  font-family: Arial, Tahoma, sans-serif;
  border-radius: 4px;
  border: solid 1px transparent;
  background: #505050;
}

.search-block textarea {
  resize: none;
  height: 262px;
  line-height: 1.2;
  padding: 18px 19px;
}

.comments-form {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 380px;
  margin-left: auto;
  background: #3a3a3a;
  padding: 26px 30px 31px;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  border-radius: 3px;
}

.comments-form h3 {
  color: #fff;
  margin-bottom: 20px;
}

.comments-block {
  margin-bottom: 30px;
  padding: 29px;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid transparent;
}

.comments-block.replied {
  border-color: #ffd3b6;
  margin-left: 103px;
  margin-top: -10px;
}

.comments-block .top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 14px;
  padding-top: 5px;
}

.comments-block .name {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #3a3a3a;
}

.comments-block .date {
  font-size: 15px;
  color: #707070;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 15px;
  font-weight: 300;
}

.comments-block .text {
  line-height: 1.69;
  text-align: justify;
}

.comments-block .bottom {
  margin-top: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.comments-block .reply {
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #e0e0e0;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.3s ease-out;
  background: #fff;
  border-radius: 4px;
  padding: 8px 15px;
  color: #707070;
  font-size: 14px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.comments-block .reply:hover {
  border-color: #3a3a3a;
  color: #3a3a3a;
}

.comments-block .reply:hover img {
  opacity: 1;
}

.comments-block .reply img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 7px;
  transition: all 0.3s ease-out;
  opacity: 0.75;
}

.page-progress {
  position: relative;
  z-index: 29;
  background: #f2f5f7;
  height: 10px;
}

.page-progress .progress-bar {
  display: block;
  background: #3a3a3a;
  border-radius: 1px;
  height: 100%;
}

.content-404 {
  padding: 50px 15px;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-404 .image {
  margin-bottom: 55px;
}

.content-404 .image img {
  max-width: 100%;
  height: auto;
}

.content-404 .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.14;
  color: #000000;
  margin-bottom: 57px;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.overflow-hidden {
  overflow: hidden;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.remark-highlight {
  overflow: auto;
  max-width: calc(100vw - 30px);
  position: relative;
  margin-bottom: 27px;
}

.btn-copy {
  position: absolute;
  top: 14px;
  right: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  background: #45463f;
  border: #33393f 1px solid;
  border-radius: 4px;
  color: #f2f5f7;
  padding: 12px 20px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  &:hover {
    background: #6c6c6c;
  }
}

.btn-copy-text {
  font-size: 14px;
}

.triangle {
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: 3;
}

.triangle-item {
  border-top: 62px solid transparent;
  border-bottom: 62px solid transparent;
}

.triangle-text {
  display: block;
  position: relative;
  transform: rotate(88deg);
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

.small-triangles-item {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.triangle-draft {
  top: -45px;
  transform: rotate(225deg);
  left: -13px;
  border-left: 62px solid #3a3a3a;
  z-index: 3;
}
.triangle-draft::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-left: 6px solid #717171;
  transform: rotate(45deg);
  right: 59px;
  top: 55px;
}
.triangle-draft::after {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-left: 6px solid #717171;
  transform: rotate(45deg);
  right: 59px;
  bottom: 55px;
}

.triangle-draft-text {
  right: 42px;
  font-size: 16px;
  top: -35px;
}

.triangle-future {
  top: -45px;
  transform: rotate(315deg);
  right: -13px;
  border-left: 62px solid #fe6c0a;
}

.triangle-text-future {
  right: 37px;
  font-size: 14px;
  top: -34px;
}
.triangle-future::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-left: 6px solid #a24100;
  transform: rotate(45deg);
  right: 59px;
  top: 55px;
}
.triangle-future::after {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-left: 6px solid #a24100;
  transform: rotate(45deg);
  right: 59px;
  bottom: 55px;
}

.triangle-text-future-post {
  right: 50px;
  top: -43px;
}

.posts-list-block-draft-or-future .post-img:after {
  border: none;
  height: 50%;
}

.posts-list-block:hover .post-img:after {
  height: 100%;
}

/*audio-player ==============================================*/

.audio {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px 7px 10px;
  background: #f2f5f7;
  border-radius: 4px;
  margin-bottom: 18px;
}

.audio button {
  border: none;
  cursor: pointer;
  padding: 0;
}

.audio .play {
  position: relative;
  width: 36px;
  height: 33px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}

.audio .play img {
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.audio .volume {
  background-color: transparent;
  margin-bottom: 2px;
}

.audio .progress-bar {
  margin-left: 9px;
  margin-right: 18px;
  width: 100%;
}

.audio .progress-bar input {
  --seek-before-width: 0;

  appearance: none;
  background: #ffffff;
  border-radius: 4px;
  position: relative;
  width: 100%;
  height: 4px;
  outline: none;
  cursor: pointer;
}

.audio .progress-bar input::before {
  content: "";
  height: 4px;
  width: var(--seek-before-width);
  background: #fe6c0a;
  border-radius: 4px;
  position: absolute;
  z-index: 2;
}

.audio .progress-bar input::-webkit-slider-thumb {
  opacity: 0;
}

.audio .progress-bar .current-time {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  margin-left: 2px;
  color: #797979;
  font-size: 14px;
}
